6Qggen
campaigns/
__pycache__/
*.o
*.grid*
*.lhe
*.log
*.mon
*.out
*.par
*.run
*.stat
*.tex
*.top
*.unw
*.weights
*.wgt
*-EvtGen.log
._*
6b1g_lhapdf_*.in
AlpGen8Q-LHEWriter-*-test.in
cnfg.dat
alf*.dat
cor01
cteq*
ctq*
j121.dat
lo2002.dat
mrst*
mstw*
